h1{
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    margin: 100px;
}

h1 {
    color: #2c3e50;
}

h3 {
      color: #555;
      margin-bottom: 30px;
      margin:100px;
}

button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            margin-left:100px;
}

button:hover {
            background-color: #0056b3;
}       